{% extends "base.html.twig" %}
{% block body %}
<div class="col-sm-10 mt-3 asm">
    <h3> Assignment Detail</h3>
    <table class="table table-striped asmdetail">       
        <tr>
            <th>Title</th>
            <td>{{ assignment.title }}</td>
        </tr>
        <tr>
            <th>Question</th>
            <td>{{ assignment.question }}</td>
        </tr>
        <tr>
            <th>Deadline</th>
            <td>{{ assignment.deadline | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Student need done</th>
            <td>
                {% if assignment.student != null %}
                    {% for s in assignment.student %}
                    <a class="title " href="{{ path('view_student_by_id', {'id': s.id })}}">
                        <h6> {{ s.name }} </h6>
                    </a>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
    
        {% if assignment.grade == null %}
            {% if assignment.answer == null %}
                <a class = "btn btn-outline-primary col-5 editbtn" href="{{ path('add_answer',{'id':assignment.id})}}" >Submit answer</a>      
            {% else %}            
                <a class = "btn btn-outline-success col-5 editbtn" href="{{ path('edit_answer', {'id':assignment.id})}}">Edit answer</a>
            {% endif %}
        {% endif %}
    
        
    <table class="table table-striped asmdetail">  
        <tr>
            <th>Answer</th>
            <td>{{ assignment.answer }}</td>
        </tr>
        <tr>
            <th>Date Submit</th>
            <td>
                {% if assignment.datesubmit != null %}
                    {{ assignment.datesubmit | date('d/m/Y') }}
                {% endif %}                               
            </td>
        </tr>
    </table>

        {% if assignment.grade == null %}
            <a class = "btn btn-outline-primary col-5 editbtn" href="{{ path('add_feedback', {'id':assignment.id})}}" >Add Feedback</a>
        {% else %}
            <a class = "btn btn-outline-success col-5 editbtn" href="{{ path('edit_feedback', {'id':assignment.id})}}">Edit Feedback</a>
        {% endif %}       
        
        

    <table class="table table-striped">  
        <tr>
            <th>Grade</th>
            <td>{{ assignment.grade }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ assignment.comment }}</td>
        </tr>
        <tr>                  
            <th>Date Feedback</th>            
            <td>
                {% if assignment.datefeedback != null %}
                    {{ assignment.datefeedback | date('d/m/Y') }}
                {% endif %}                
            </td>
        </tr>
    </table>

    
</div>
{% endblock %}


{# 
<h1 class="">  </h1>
    <div class="row">    

        <h4>Question: </h4>
        <h4>Deadline: </h4>        
        <h4>Student List: </h4>
        
        <a class = "btn btn-primary col-2" href="{{ path('add_answer',{'id':assignment.id})}}" >Add answer</a>
        <a class = "btn btn-success col-2" href="{{ path('edit_answer', {'id':assignment.id})}}">Edit answer</a>
        
        <h1>Answer</h1>
        <h4>Answer: {{ assignment.answer }} </h4>
        <h4>Date Submit: {{ assignment.datesubmit | date('d/m/Y') }} </h4>

        <a class = "btn btn-primary col-2" href="{{ path('add_feedback', {'id':assignment.id})}}" >Add Feedback</a>
        <a class = "btn btn-success col-2" href="{{ path('edit_feedback', {'id':assignment.id})}}">Edit Feedback</a>

        <h1>Feedback</h1>
        <h4>Feeback:  </h4>
        <h4>Comment: {{ assignment.comment }}</h4>
        <h4>Date Feedback: {{ assignment.datefeedback | date('d/m/Y') }} </h4>
    </div> #}