{% extends "base.html.twig" %}
{% block body %}
    <div class="container-flush col-sm-10 ml-3 mt-3 asm">
        <div class="">
            <h2>List Assignment</h2>
            <a class="btn btn-primary addbtn" href="{{ path('add_assignment')}}">Add new assignment</a>
        </div>
        
        <table class="table table-hover table-striped mt-3 ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                </tr>
            </thead>
                {% for a in assignments %}
                    <tr>                        
                        <td>
                            <a class="title" href="{{ path('view_assignment_by_id', {'id': a.id}) }}">
                                <b>{{ a.title }}</b>
                            </a>
                        </td>
                        <td>{{ a.deadline | date('d/m/Y') }}</td>
                        <td>         
                            <a class="btn btn-warning addbtn" href="{{ path('edit_assignment', {'id': a.id})}}">Edit</a>               
                            <a class="btn btn-danger addbtn" href="{{ path('delete_assignment', {'id': a.id})}}"
                            onclick = "return confirm('Do you want to delete this assigmemt');"
                            >Delete</a>                        
                        </td>
                    </tr>
                {% endfor %}
                    
        </table>
    </div>
{% endblock %}