{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block body %}
<div class = "container-fluid row">
    <div class = "col-lg-2">
        <ul class = "navbar-nav">
            <a href="{{path('view_course')}}">Courses management</a>
            <a href="{{path('view_class')}}">Classes management</a>
        </ul>
    </div>
    <div class = "col-lg-10">
        <h1 class="text-center text text-primary">Classes management</h1>
        {% for error in app.session.flashBag.get('Error') %}
            <p class="alert alert-danger">{{ error }} </p>
        {% endfor %}
        {% for success in app.session.flashBag.get('Success') %}
            <p class="alert alert-success">{{ success }} </p>
        {% endfor %}
        <a href="{{ path('view_class_add' )}}" class ="btn btn-success float-right" id ="courseAdd"> Add </a>

        <div class="dropdown">
            <select onchange="window.location.href=this.value">
                <option>Sort by</option>
                <option value="{{ path('sort_class_id_ascending')}}">Id asc</option>
                <option value="{{ path('sort_class_id_descending')}}">Id desc</option>
                <option value="{{ path('sort_class_name_ascending')}}">Name asc</option>
                <option value="{{ path('sort_class_name_descending')}}">Name desc</option>
                <option value="{{ path('sort_class_StdQuantity_ascending')}}">Number of Student asc</option>
                <option value="{{ path('sort_class_StdQuantity_descending')}}">Number of Student desc</option>
            </select>
        </div>

        <div class="col-5">
            <form class="form-group" action="{{ path('search_by_class_name')}}" method="post">
                <input class="form-control" type="search" name="keyword" placeholder="Search by name">
            </form>
        </div>

        <table class="table table-bordered text-center">
            <tr>
                <th>Id</th>
                <th>Class Name</th>
                <th>Number of Student</th>
                <th>List Student</th>
                <th>Action</th>
            </tr>
            {% for c in class %}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.StdQuantity}}</td>
                    <td>
                        <a class = "btn btn-primary" download="Test.xlsx" href="{{asset('file/'~c.student)}}" >Click to download</a>
                    </td>
                    <td>
                        <a href="{{path('view_class_edit', {'id': c.id }) }}" class="btn btn-warning" >Edit</a>
                        <a href="{{path('view_class_delete', {'id': c.id }) }}" class="btn btn-danger" class="btn btn-danger" 
                        onclick="return confirm('Are you sure to delete this course ?');">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

