<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/CssForAdminPage.css')}}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    {% block nav %}
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('home')}}"><b>Home</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{{path('view_course')}}">Admin permission </a>
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="navbar-nav">
                        <select onchange="window.location.href=this.value">
                            <option>My Course</option>
                            <option value="{{path('view_course_detail')}}">Course</option>
                            {# {% for c in Course %}
                                <option value=""></option>
                            {% endfor %} #}
                        </select>
                    </div>
                    <div class="mt-1">
                        <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    <div class="mt-1">
                        <a class="btn btn-danger" href="{{ path('app_login') }}">Login</a>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </nav>
    {% endblock %}

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
